/* @font-face {
  font-family: "Happy Selfie";
  src: url("../assets/fonts/HappySelfie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AustinRonalle";
  src: url("../assets/fonts/AustinRonalle.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Magnolia Light";
  src: url("../assets/fonts/MagnoliaLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PARADISE DEMO";
  src: url("../assets/fonts/PARADISEDEMO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
